.main-layout {
    display: flex;
    height: 100vh;
  }
  
  .dashboard-container {
    width: 250px; /* Adjust the width as needed */
    background-color: #f8f8f8; /* Optional: to visually differentiate the dashboard */
  }
  
  .outlet-container {
    flex-grow: 1;
    overflow-y: auto;
  }