.badge-icon{
    border-radius: 50%;
    width:100px;
    height: 100px;
}
/* .card {
    width: auto;
    max-width: 100%; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
   */