.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #825B32;
  }
  .logo {
      font-family: "Merienda", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color:white;
}
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav-item {
    margin-left: 20px;
  }
 .login{
  font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
 }
  /* .nav-link:hover {
    text-decoration: underline;
  } */
  