
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .tag {
    background-color: #6482AD;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
  }
  .tag-remove-btn {
    background: none;
    border: none;
    color: white;
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  .tag-remove-btn:hover {
    background: none;
    color: #ff0000;
  }
  
  input#tags {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  input#tags:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  } 


.upload-bar-container {
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upload-instructions {
  background-color: #e8f4fc;
  border: 1px solid #b2ebf2;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.upload-instructions h5 {
  margin-bottom: 10px;
}

.upload-instructions ol {
  padding-left: 20px;
}

.form-control {
  border-radius: 8px;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
