.register * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center the loader */
.loader-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-image: linear-gradient(to right, #1E3A8A, #2563EB);
  height: 100vh; /* Make sure it takes full height */
  display: flex; /* Added for flex alignment */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

.register-card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 2rem;
  max-width: 600px; /* You can set this to whatever fits your design */
  width: 100%; /* Make sure the card takes full width */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.register-card:hover {
  transform: translateY(-5px);
}

.register-form {
  width: 100%;
}

.register-form .form-label {
  color: #ffffff;
}

.register.text-primary,
.register .btn-primary {
  color: #ffffff !important;
}

.register .btn-primary {
  background-color: #2563EB;
  border-color: #2563EB;
  transition: background-color 0.3s ease;
}

.register .btn-primary:hover {
  background-color: #1d4ed8; /* Darken on hover */
}


.register .btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
}

.register .btn-outline-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.register-form-control {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: none !important;
  color: #ffffff !important;
  transition: background-color 0.3s ease !important;
}
.register-form-control::placeholder {
  color: #c4c4c4 !important;
}

.register-form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border: none;
} 


.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.footer p {
  margin: 0;
  color: #ffffff;
}

.text-danger {
  color: #ff6b6b; /* Red color for error messages */
}
