*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav-item {
    display: flex;
    align-items: center;
}
.dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7Fa1c3;
}
.links{
   list-style : none;
}
/* .nav-link:hover {

    background-color: white;
} */
/* SearchBar at the top */
.grid-container {
display: grid;
  grid-template-columns: 300px 3fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.searchbar-container {
    grid-column: 2/3;
    grid-row: 1/2;
}
.dashboard-container{
    grid-column: 1/2;
    text-align: center;
    grid-row: 1/4;
}
.uploadbar-container{
    grid-column: 2/3;
    grid-row:3/4;
}
.resourcelist-container{
    grid-column: 2/3;
    grid-row: 2/3;
}
/* .nav-link:hover {
    height: 70px;
    cursor: pointer;
    background-color: white;
} */
